*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bobur{
    margin-left: 500px;
    padding: 100px;
}

.sardor{
    color: #fff;
    position: fixed;
    background-color: rgb(10, 10, 119);
    width: 500px;
    height: 1000px;
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
    top: 0;
    left:0;
    
}

.farxod{
    background-color: rgb(4, 4, 69);
    border-radius: 50px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 470px;
}

.one{
    border-bottom: 1px solid rgb(78, 78, 211);
    margin-bottom: 15px;
}

.dog{
    margin-bottom: 20px;
}

h3{
    margin-top: 20px;
    margin-bottom: 10px;
}

input{
    border: none;
    padding: 10px;
    background-color:  rgb(36, 36, 86);
    border-radius: 10px;
    margin-bottom: 30px;
}