.relative{
    position: relative;
    width: 800px;
    height: 1000px;
    left: 300px;
    right: 300px;
    z-index: 1;
    

}

.absolitive{
    position: absolute;
    width: 600px;
    top: 50px;
    right: 400px;
    left: 400px;
    z-index: 2;
    
}