.qvz{
    width: 150px;
    height: 100px;
    background-color: green;
    position: absolute;
}

.odam{
    width: 150px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 5;

}

.inson{
    width: 150px;
    height: 100px;
    background-color: orange;
    position: absolute;
    top: 60px;
    left: 60px;
    z-index: 6;
    
}

.shaxs{
    width: 150px;
    height: 100px;
    background-color: greenyellow;
    position: absolute;
    top: 90px;
    left: 90px;
    z-index: 7;

}